<div class="dashboard">
    {{#if userData}}
        <h2>Welcome {{userData.userID}}!</h2>
        
        <!-- Displays meeting location -->
        <!-- Hidden location data for map -->
        <div><p id="location" hidden>{{userData.location.lat}} {{userData.location.lng}}</p></div>
        <div><p id="course"> Course: {{userData.course}}</p></div>
        <div><p id="group"> Group: {{userData.group}}</p></div>
        
        <h3>Meeting location:</h3>
        <div id="gmap"></div>
    {{/if}}

    <p>{{groupStatus}}</p>
    
	<p>View profile <a href="http://localhost:3000/profile">here.</a></p>
	<p>Log out <a href="http://localhost:3000/logout">here.</a></p>
</div>