<div class="profile-info">
//need to display user information here
 {{#each data}}
 <h2>Logged in as {{this.username}}</h2>
  <ul>
  	<li>{{this.firstname}}</li>
	<li>{{this.lastname}}</li>
	<li>{{this.email}}</li>
	<li>{{this.zipcode}}</li>
	<li>{{this.latitude}}</li>
	<li>{{this.longitude}}<li>
	//need add courses, avaialbility and meetings
 </ul>
	<a href="/logout">Log Out</a>
	<a href="/edit">Edit your Profile</a>
{{/each}}
</div>
