<div class="profile-info">
  
  <h2>Logged in as {{ username }}</h2>
<!-- need to display user information here -->
  <ul>
  	<li>First Name: {{ firstname }}</li>
    <li>Last Name: {{ lastname }}</li>
    <li>Email: {{ email }}</li>
    <li>Phone: {{ phone }}</li>
    <li>Zipcode: {{ zipcode }}</li>
  </ul>
<!-- need add courses, avaialbility and meetings -->

	<p>View dashboard <a href="http://localhost:3000/dashboard">here.</a></p>
	<p>Edit profile <a href="http://localhost:3000/profile/edit-profile">here.</a></p>
	<p>Log out <a href="http://localhost:3000/logout">here.</a></p>
</div>
