<div class="professor">
  
  <h2>Logged in as {{ username }}</h2>
<!-- need to display user information here -->
  <ul style="list-style-type:none;">
  	<li>First Name: {{ firstname }}</li>
    <li>Last Name: {{ lastname }}</li>
    <li>Email: {{ email }}</li>
    <li>Phone: {{ phone }}</li>
  </ul>
<!-- List of courses and buttons to sort -->
  <br>
  <h2>Courses List</h2>
  <br>
  <ul class="courses_list">
    {{#each course}}
      <li>Course name: {{name}}</li>
      <li>Max group size: {{groupSize}}</li>
    {{/each}}
  </ul>
  
  <br>
  <h2>Sort Groups:</h2>
  <form id='sort_form' method='POST' action='/dashboard'>
  	<label for='course_name'>Course name:</label>
    	<input type='text' name='course_name' id='course_name'>
  	<button type='Submit' value='Sort Groups'>Sort Groups</button>
        {{#if error}}
          <p class='error'>{{error}}</p>
        {{/if}}
  </form>
  
  
  <p>Log out <a href="http://localhost:3000/logout">here.</a></p>
  
</div>
